.navbar {
  width: 260px;
  min-height: 705px;
  background-color: inherit;
  padding-top: 30px;
  background-color: #f4f9f8;
}

.logo-div {
  /* padding-left: 40px; */
}

.navbar-ul {
  list-style: none;
  /* margin-left: 40px; */
  margin-top: 45px;
}

.navbar-ul > a {
  text-decoration: none;
  transition: all 0.4s ease;
  color: #072d4b;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.4s ease;
  width: 100% !important;
}

.navbar-ul > a:hover li {
  background-color: #2f9ef81e !important;
  color: #2f9ff8;
}

.navbar-ul > a:hover li > p {
  color: #2f9ff8;
}

.navbar-ul > a:hover li > div p {
  color: #2f9ff8;
}

.navbar-ul > a > li {
  padding: 16px;
  transition: all 0.4s ease;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #072d4b !important;
}

.alone-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alone-li div {
  display: flex;
  align-items: center;
}

.alone-li div svg {
  margin-right: 15px;
}

.alone-li > i {
  font-size: 22px;
  color: #072d4b;
  transform: rotate(0);
  transition: all 0.4s ease;
}

.navbar-ul > a > li > svg {
  margin-right: 15px;
  color: red !important;
}

.active-nav > li {
  background-color: #2f9ef81e !important;
  width: 100% !important;
}

.active-nav > li > i {
  color: #2f9ff8 !important;
  transform: rotate(90deg);
}

.active-nav > li > p {
  color: #2f9ff8;
  transition: all 0.4s ease;
}

.active-nav > li > div > p {
  color: #2f9ff8;
  transition: all 0.4s ease;
}

.globe-absolute {
  padding-left: 100px;
  overflow: hidden;
  height: 0;
  transition: all 0.4s ease;
}

.active-nav .globe-absolute {
  height: 470px;
}

.globe-absolute > p {
  margin-bottom: 10px !important;
  display: flex;
  align-items: center;
  padding: 5px;
}

.globe-absolute > p > span {
  width: 12px;
  height: 2px;
  background-color: #2f9ff8;
  margin-right: 10px;
  transition: all 0.4s ease;
}

.svg-color {
  stroke: #072d4b !important;
  transition: all 0.4s ease;
}

.globe-absolute > p:hover span {
  width: 22px;
}
.active-nav .svg-color {
  stroke: #2f9ff8 !important;
}

.active-ul {
  overflow: hidden;
  height: 0;
  transition: all 0.4s ease;
  padding-left: 100px !important;
}

.active-nav .active-ul {
  /* min-height: 250px; */
  height: 350px;
  transition: all 0.4s ease;
  margin-bottom: 10px;
}

.active-ul > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: all 0.4s ease;
  padding: 5px;
}

.active-ul > div > div {
  width: 12px;
  height: 2px !important;
  margin-right: 5px;
  background-color: #2f9ff8;
  transition: all 0.4s ease;
}

.active-ul > div > p {
  transition: all 0.4s ease;
}

.active-ul > div:hover > div {
  width: 22px;
}
